html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: white;
  font-size: 23px;
  line-height: 27px;
  font-family: "Berthold Akzidenz Grotesk BE", "Helvetica Neue"; }

#wrap {
  margin: 0 auto;
  width: 50em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Colaborate-Medium";
  color: #2f3f52; }

h1 {
  font-size: 96px;
  line-height: 115px;
  font-weight: 700; }

h2 {
  font-size: 71px;
  line-height: 96px;
  font-weight: 600; }

h3 {
  color: #7ca4d6;
  font-size: 59px;
  line-height: 71px; }

h4 {
  color: #7ca4d6;
  font-size: 44px;
  line-height: 44px; }

h5 {
  color: #4975ad;
  font-size: 37px;
  line-height: 37px; }

h6 {
  color: #ba6a61;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase; }

header ul li {
  display: inline; }

.vinyl {
  clear: both;
  display: block;
  font-size: 17px;
  overflow-y: auto;
  position: relative; }
  .vinyl .record,
  .vinyl .year {
    font-family: "Helvetica Neue";
    font-weight: 200; }
  .vinyl div {
    display: inline;
    float: left; }
  .vinyl .title {
    width: 40%; }
  .vinyl .author {
    width: 30%; }
  .vinyl .label {
    width: 15%; }
  .vinyl .year {
    font-family: "Helvetica Neue";
    font-weight: 200;
    width: 6%; }
  .vinyl .record {
    width: 9%; }

.vinyl-form {
  display: block; }

input[type="text"],
input[type="number"] {
  border: 1px #4975ad dotted;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0 5% 0 0;
  width: 90%; }
