@import 'reset';
@import 'bourbon/bourbon';

// Fonts
$main-font: 'Input Sans Narrow', 'Inconsolata','Helvetica Neue';

$base-font-size: 0.9rem;
$color-background: #F4F6CF;
$font-color: #0259E5;
$link-color: #0259E5;

html {
  background-color: $color-background;
  font-family: $main-font;
  font-size: 100%;
}

a {
  color: $link-color;
  text-decoration: none;
  @include linear-gradient(rgba(254,193,0,0) 35%, #FEC100 36% , #FEC100 65% , rgba(254,193,0,0) 66%);
  margin-left: -0.125em;
  margin-right: -0.125em;
  padding-left: 0.125em;
  padding-right: 0.125em;
  transition: all 0.3s ease;

  &:hover {
    @include linear-gradient(rgba(254,193,0,1) 35%, #FEC100 36% , #FEC100 65% , rgba(254,193,0,1) 66%);
  }
}

body {
  color: $font-color;
  font-size: $base-font-size;
  margin: 1em auto;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  width: 700px;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1em;
  margin-top: 1em;
}

h2 {
  font-size: 1.4rem;
}

li {
  &:before {
    content: "–";
    left: -1em;
    position: absolute;
  }
}