@import 'reset';
@import 'modular-scale';

// Fonts
$main-font: 'Berthold Akzidenz Grotesk BE','Helvetica Neue';
$header-font: 'Colaborate-Medium';
$header-font-light: 'Colaborate-Light';
$accent-font: 'Helvetica Neue';

$base-size: 14px 300px;

// Colors
$color-background: rgba(255,255,255,1);
$color-secondary: rgba(124,164,214,1);
$color-third: rgba(73,117,173,1);
$color-contrast: rgba(186,106,97,1);
$color-headers: rgba(47,63,82,1);
$wrap: rgba(250,252,255,1);

body {
  background-color: $color-background;
  font-size: modular-scale(2, $base-size, $golden);
  line-height: modular-scale(3, $base-size, $golden);
  font-family: $main-font;
}

#wrap {
  margin: 0 auto;
  width: 50em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  color: $color-headers;
}

h1 {
  font-size: modular-scale(8, $base-size, $golden);
  line-height: modular-scale(9, $base-size, $golden);
  font-weight: 700;
}

h2 {
  font-size: modular-scale(7, $base-size, $golden);
  line-height: modular-scale(8, $base-size, $golden);
  font-weight: 600;
}

h3 {
  color: $color-secondary;
  font-size: modular-scale(6, $base-size, $golden);
  line-height: modular-scale(7, $base-size, $golden);
}

h4 {
  color: $color-secondary;
  font-size: modular-scale(5, $base-size, $golden);
  line-height: modular-scale(5, $base-size, $golden);
}

h5 {
  color: $color-third;
  font-size: modular-scale(4, $base-size, $golden);
  line-height: modular-scale(4, $base-size, $golden);
}

h6 {
  color: $color-contrast;
  font-size: modular-scale(1, $base-size, $golden);
  line-height: modular-scale(1, $base-size, $golden);
  text-transform: uppercase;
}

header {
  ul li{
    display: inline;
  }
}

#new-vinyl-template {
}

.vinyl {
  clear: both;
  display: block;
  font-size: modular-scale(1, $base-size, $golden);
/*  overflow-y: auto;*/
  position: relative;

  .record,
  .year {
    font-family: $accent-font;
    font-weight: 200;
  }

  div {
    display: inline;
    float: left;
  }

  .title {
    width: 40%;
  }

  .author {
    width: 30%;
  }

  .label {
    width: 15%;
  }

  .year {
    font-family: $accent-font;
    font-weight: 200;
    width: 7%;
  }
  
  .record {
    width: 8%;
  }

  .icons {
    display: none;
    margin-right: -100%;
  }
  
  &:hover .icons {
    display: block;
  }
  
}

.vinyl-form {
  display: block;
}

input[type="text"],
input[type="number"] {
  border: 1px $color-third dotted;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0 5% 0 0;
  width: 90%;
}

.icons {
  font-family: 'Pictos';
}