<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>

    <link rel="stylesheet" href="/css/style.css"/>

    <script src="/js/jquery.js"></script>
    <script src="/js/underscore.js"></script>
    <script src="/js/backbone.js"></script>

    <script src="/js/inventory/helpers.js"></script>
    <script src="/js/inventory/models.js"></script>
    <script src="/js/inventory/collections.js"></script>
    <script src="/js/inventory/views.js"></script>
    <script src="/js/inventory/routers.js"></script>
    <script src="/js/inventory.js"></script>

  </head>
  <body>
    <%= yield %>
  </body>
</html>