<div id="wrap"></div>

<script type="text/template" id="vinyl-template">
  <div class="title">
    {{ title }}
  </div>
  <div class="author">
    {{ author.name }}
  </div>
  <div class="label">
    {{ label.name }}
  </div>
  <div class="year">
    {{ year }}
  </div>
  <div class="record">
    {{ size }}x{{ records }}
  </div>
  <div class="icons">
    <span class="edit">p</span>
    <span class="delete">#</span>
  </div>
</script>

<script type="text/template" id="vinyl-edit-template">
  <div class="title">
    <input class="vinyl-edit-form" type="text" name="title" placeholder="Title" value="{{ title }}">
  </div>
  <div class="author">
    <input class="vinyl-edit-form" type="text" name="author" placeholder="Band" value="{{ author.name }}">
  </div>
  <div class="label">
    <input class="vinyl-edit-form" type="text" name="label" placeholder="Label" value="{{ label.name }}">
  </div>
  <div class="year">
    <input class="vinyl-edit-form" type="number" min="1900" max="{{ (new Date()).getFullYear() }}" name="year" value="{{ year }}">
  </div>
  <div class="record">
    <select name="size">
      <option>12</option>
      <option>10</option>
      <option>7</option>
    </select>
  x <input class="vinyl-edit-form" type="number" name="records" min="1" value="{{ records }}"></p>
  </div>
  <div class="icons">
    <span class="edit">p</span>
    <span class="delete">#</span>
  </div>
</script>

<script type="text/template" id="new-vinyl-template">
  <h6>New Vinyl</h6>
  <div class="vinyl">
    <div class="title">
      <input class="vinyl-form" type="text" name="title" placeholder="Title">
    </div>
    <div class="author">
      <input class="vinyl-form" type="text" name="author" placeholder="Band">
    </div>
    <div class="label">
      <input class="vinyl-form" type="text" name="label" placeholder="Label">
    </div>
    <div class="year">
      <input class="vinyl-form" type="number" min="1900" max="{{ (new Date()).getFullYear() }}" name="year" value="{{ (new Date()).getFullYear() }}">
    </div>
    <div class="record">
      <select name="size">
        <option>12</option>
        <option>10</option>
        <option>7</option>
      </select>
    x <input class="vinyl-form" type="number" name="records" min="1" value="1"></p>
    </div>
  </div>
</script>

<script type="text/template" id="menu-template">
  <h1>Media Inventory</h1>
</script>